@using TestHouse.DTOs.DTOs
@using TestHouse.DTOs.Models
@inject TestHouse.Web.Blazor.Services.SuitService _suitService;



<li class="level suit">
    
    <div class="level-left">
        @Suit.Name - @Suit.Description
    </div>

    <div class="level-right suit-actions @(IsSuitFormActive || IsTestCaseFormActive ? " is-hidden" : "")">
        <div class="level-item">
            <a class="button is-small is-primary" onclick="@(()=>IsSuitFormActive = true)">
                <span class="icon">
                    <i class="fas fa-plus" />
                </span>
                <span>Subsection</span>
            </a>
        </div>
        <div class="level-item">
            <a class="button is-small is-primary" onclick="@(()=>IsTestCaseFormActive = true)">
                <span class="icon">
                    <i class="fas fa-plus" />
                </span>
                <span>TestCase</span>
            </a>
        </div>
    </div>


    <div class="level-right  @(IsSuitFormActive ? "" : " is-hidden")">
        <div class="level-item">
            <div class="field has-addons">
                <p class="control">
                    <input class="input is-small add-item-input" type="text" placeholder="New subsection name" bind="@NewSuitName"/>
                </p>
                <p class="control">
                    <button class="button is-small is-success" onclick="@AddNewSuit">
                        <span class="icon">
                            <i class="fas fa-plus" />
                        </span>
                    </button>
                </p>
                <p class="control">
                    <button class="button is-small is-danger" onclick="@(()=>IsSuitFormActive = false)">
                        <span class="icon">
                            <i class="fas fa-minus" />
                        </span>
                    </button>
                </p>
            </div>
        </div>
    </div>

    <div class="level-right @(IsTestCaseFormActive ? "" : " is-hidden")">
        <div class="level-item">
            <div class="field has-addons">
                <p class="control">
                    <input class="input is-small add-item-input" type="text" placeholder="New testcase name" bind="@NewTestCaseName" />
                </p>
                <p class="control">
                    <button class="button is-small is-success" onclick="">
                        <span class="icon">
                            <i class="fas fa-plus" />
                        </span>
                    </button>
                </p>
                <p class="control">
                    <button class="button is-small is-danger" onclick="@(()=>IsTestCaseFormActive = false)">
                        <span class="icon">
                            <i class="fas fa-minus" />
                        </span>
                    </button>
                </p>
            </div>
        </div>
    </div>
</li>

@if (Suit.Suits != null && Suit.Suits.Any())
{
    <ul class="suit-list">
        @foreach (var suit in Suit.Suits)
        {
            <Items Suit="suit" ProjectId="ProjectId"></Items>
        }


        @foreach (var testCase in Suit.TestCases)
        {
            <li class="test-case">
                <div class="level suit">

                    <div class="level-left">
                        <div class="level-item">
                            <p class="subtitle is-6">@testCase.Name</p>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
}





@functions{

    [Parameter] private SuitDto Suit { get; set; }
    [Parameter] private long ProjectId { get; set; }

    bool IsSuitFormActive { get; set; }
    bool IsTestCaseFormActive { get; set; }
    string NewSuitName { get; set; }
    string NewTestCaseName { get; set; }

    protected override void OnInit()
    {
        try
        {

        }
        catch (Exception e)
        {
            Console.WriteLine("exc" + e.GetType() + e.Message);
        }
    }

    private async Task AddNewSuit()
    {
        SuitModel newSuitModel = new SuitModel()
        {
            Name = NewSuitName,
            ProjectId = ProjectId,
            ParentId = Suit.Id,
        };

        try
        {
            var newSuit = await _suitService.Add(newSuitModel);

            Suit.Suits = (Suit.Suits != null)
                ? Suit.Suits.Append(newSuit)
                : new List<SuitDto>() { newSuit };

            NewSuitName = "";
            IsSuitFormActive = false;
            
        }
        catch (Exception e)
        {
            Console.WriteLine("exc" + e.GetType() + e.Message);
        }
    }


    private class Item
    {
        public ItemType Type { get; set; }
        public string Name { get; set; }
        public List<Item> Items { get; set; }
    }

    private enum ItemType : byte
    {
        Suit,
        TestCase
    }
}
